Django==5.1
transformers_stream_generator
torch
chainlit
pydantic==2.7.1
sse-starlette>=2.1.0
transformers==4.41.2
openai>=1.34.0
outlines
sentence_transformers>=2.7.0
tiktoken>=0.7.0
langchain-huggingface==0.0.3
gradio==4.31.5
langchain
langchain-openai
tiktoken
langchain-chroma
langchain-community
tree-sitter==0.21.3
tree-sitter-languages
esprima
huggingface_hub
langchain_text_splitters
langchain_community
unstructured
jq
playwright
beautifulsoup4
python-dotenv
django-cors-headers
feedparser
